{{> header}}

<div>

    <br>
    <center>
        <h1>Bienvenidos a contenido</h1>
    </center>
    <br>
    <center>
        <h2>En esta pagina tenemos el contenido haciendo referencia en Express js</h2>
    </center>
    <div class="container">
        <p>
            Express.js o más comúnmente solo Express, es un framework para crear aplicaciones web, APIs y web services,
            que ha sido inspirado en la librería Sinatra de Ruby. Es software libre y de código abierto, con licencia
            MIT.
        </p>
        <br>
        <center>
            <h2>Historia de Express</h2>
        </center>
        <p align="justify">
            Fue fundada por TJ Holowaychuk. La primera versión, según el repositorio GitHub de Express.js, fue lanzada
            el 22 de mayo de 2010.

            En junio de 2014, los derechos del proyecto fueron adquiridos por StrongLoop. StrongLoop, a su vez, fue
            adquirida por IBM en septiembre de 2015. Luego, en enero de 2016, IBM anunció que pondría a Express.js bajo
            la tutela de la incubadora de la Fundación Node.js, de ahí el énfasis de Express para trabajar con Node.
        </p>
        <br>
        <center>
            <h2>Caracteristicas Importantes</h2>
        </center>
        <p align="justify">

            <ul>
                <li>Es minimalista, lo que lo hace muy liviano ya que muchas de sus funcionalidades deben ser instaladas
            posteriormente a través de plugins y módulos adicionales.</li>
                <li>Incluye un sistema de template engines muy poderoso, con Handlebars, Pug, Mustach, etc. disponibles por
            defecto.</li>
                <li>Maneja Routing, con wildcards, parámetros, etc.</li>
                <li>Implementa middlewares, lo que es una de sus características más notables e importantes.</li>
                <li>Permite la instalación de plugins a travpes de middlewares.</li>
            </ul>

          
        </p>
    </div>



    <body style="background-color:#D7CCC8">


    </body>
</div>