{{> header}}

<div>
    <br>
    <center>
        <h1>Bienvenidos a mi primer pagina con Express</h1>
    </center>
    <br>
    <center>
        <h2>Mi nombre es Cristobal Josue Torres Hernandez</h2>
    </center>
    <br>
    <center>
        <h2>Te encuentras en la pagina home</h2>
    </center>
    <br>
    <center>
        <h2>Mi usuario en Linkedin es:
            <a href="https://www.linkedin.com/in/cristobal-torres-86ab81173/"> Cristobal Torres</a>





            <body style="background-color:#D7CCC8">


            </body>
</div>