<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1>{{title}}</h1>
</nav>
<div style="margin: top 50px">
    <a href="/login" class="btn btn-primary vtn-lg active">Login</a>
    <a href="/register" class="btn btn-success vtn-lg active">Register</a>
</div>